.contact_header {
	width: 100%;
	height: 125px;
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
	background-image: url(gfx/land_1.jpg);
	background-size: cover;
	background-position: center;
}

.contact_rap {
	width: 100%;
	overflow: hidden;
	background: url(gfx/subtle_dots.png) repeat;
	padding-bottom: 300px;
	@include clearfix;

	.contact_left {
		width: 46%;
		margin: 2%;
		float: left;
		overflow: hidden;

		@include respond-to(tab) {
			width: 94%;
			padding: 2% 3%;
		}

		h4 {
			font-family: $font-head;
			color: #111;
			padding: 0 0 3% 5%;
			@include font-size(4);
		} // h4

		p {
			font-family: $font-sans;
			text-indent: 5%;
			@include font-size(1.6);
			@include line-height(2.1);
			color: #555;
			padding: 0 0 2%;
		} // p

		.contact_div {
			width: 100%;
			height: 1px;
			background: $blue;
			margin: 3% 0 5%;
			display: block;
		} // contact div

		h1 {
			@include font-size(2.4);
			text-align: right;
			font-family: $font-sans;
			color: #222;
			width: 94%;
			margin: 0 3% 5%;
		} // h1

		h2 {
			@include font-size(2);
			text-align: right;
			width: 94%;
			margin: 4px 3%;
			font-family: $font-sans;
			color: #333;
		} // h2

		h3 {
			@include font-size(1.8);
			text-align: right;
			width: 94%;
			margin: 4px 3%;
			font-family: $font-sans;
			color: #444;
		}
	} // contact left

	.contact_right {
		width: 46%;
		margin: 5% 2% 2%;
		float: left;
		overflow: hidden;

		@include respond-to(tab) {
			width: 94%;
			padding: 2% 3%;
		}

		p {
			@include font-size(1.5);
			font-family: $font-sans;
			@include line-height(1.8);
			color: #555;
		} // p
	} // contact right
} // contact rap

///////////// CONTACT FORM

.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 textarea
{
    background-color: #fff;
    color: #000;
    width: 97%;
    @include font-size(1.7);
    font-family: $blue;

    &:focus {
    	border: 1px solid $blue;
    	outline: $blue;
    	background: #efefef;
    }
}

.wpcf7-response-output {
	@include font-size(1.5);
	background: #eee;
}

