.hero {
	width: 100%;
	height: 160px;
	border-bottom: 1px solid black;
	background-image: url(gfx/land_10.jpg);
	background-size: cover;
	background-position: center;
}

.intro_rap {
	width: 100%;
	overflow: hidden;
	background: url(gfx/subtle_dots.png) repeat;

	.intro_header {
		width: 100%;
		padding: 4% 0 2%;
		overflow: hidden;
		@include clearfix;

		h2 {
			width: 100%;
			text-align: center;
			font-family: $font-sans;
			color: #111;
			@include font-size(2.1);
			@include line-height(2.3);
			margin: 0 0 10px 0;

			@include respond-to(tab) {
				@include font-size(1.8);
				@include line-height(2);
			}
		} // h2

		h1 {
			width: 100%;
			text-align: center;
			font-family: $font-head;
			color: $blue;
			@include font-size(6);
			@include line-height(6.2);

			@include respond-to(tab) {
				@include font-size(4);
				@include line-height(4.4);
			}
		} // h1

		h3 {
			width: 100%;
			text-align: center;
			font-family: $font-sans;
			color: #888;
			@include font-size(3);
			@include line-height(3.4);

			@include respond-to(tab) {
				@include font-size(2.4);
				@include line-height(2.8);
			}
		} // h3
	} // intro header

	.intro_side {
		width: 25%;
		float: left;
		padding: 5% 2.5%;
		overflow: hidden;

		@include respond-to(tab) {
			display: none;
		}

		.intro_question {
			font-family: $font-sans;
			@include font-size(1.6);
			@include line-height(2);
			color: #777;
			padding: 0 0 2%;
		} // intro questions

		.intro_answer {
			font-family: $font-sans;
			@include font-size(1.6);
			@include line-height(2);
			color: #777;
			padding: 0 0 5%;
			color: $blue;
		} // intro answer
	} // intro side

	.intro_main {
		width: 65%;
		float: left;
		padding: 2% 2.5%;
		overflow: hidden;

		@include respond-to(tab) {
			width: 94%;
			padding: 2% 3%;
		}

		h4 {
			font-family: $font-head;
			color: #111;
			padding: 0 0 3% 0;
			@include font-size(4);

			@include respond-to(tab) {
				@include font-size(3.5);
			}
			
			@include respond-to(mob) {
				@include font-size(3);
			}
		} // h4

		p {
			font-family: $font-serif;
			@include font-size(2);
			@include line-height(2.8);
			color: #222;
			padding: 0 0 2%;
			
			@include respond-to(tab) {
				@include font-size(1.8);
				@include line-height(2.6);
			}

			@include respond-to(mob) {
				@include font-size(1.6);
				@include line-height(2.4);
			}
		} // p
	} // intro main
} // intro rap

