.navigation {
	width: 100%;
	position: fixed;
	top: 0;
	background-color: rgba(255,255,255,0.75);
	border-bottom: 1px solid black;
	@include clearfix;
	height: 80px;
	z-index: 9999;

	.nav_left {
		float: left;
		@include clearfix;
		width: 320px;
		margin: 0 0 0 2%;

		@include respond-to(tab) {
			width: 150px;
		}

		@include respond-to(mob) {
			width: 100%;
		}

		a {
			float: left;
			text-decoration: none;
			color: black;
			height: 100px;
			display: inline-block;
			padding-top: 10px;

			@include respond-to(mob) {
					width: 100%;
					height: auto;
				}

			.logo_blue {
				color: $blue;
				font-family: $font-head-2;
				@include font-size(3);
				margin-left: 3px;
			} // logo blue

			.logo_text {
				font-family: $font-head;
				@include font-size(4);
				@include line-height(3.2);

				@include respond-to(mob) {
					display: inline-block;
				}
			} // logo text
		} // a

		.logo_line {
			float: left;
			height: 64px;
			width: 6px;
			background-color: $blue;
			margin: 10px;
			display: inline-block;

			@include respond-to(mob) {
				display: none;
			}
		} // logo line

		.logo_add_rap {
			float: left;
			height: 100px;
			display: inline-block;
			padding-top: 10px;

			@include respond-to(tab) {
				display: none;
			}

			.logo_add_text {
				color: #555;
				font-family: $font-head;
				@include font-size(2);
				@include line-height(2.2);
				letter-spacing: 0.05em;
			} // logo add text

			.logo_tm {
				font-family: $font-head;
				@include font-size(0.4);
				vertical-align: super;
			} // logo tm
		} // logo add rap
	} // nav left

	.nav_right {
		float: right;

		@include respond-to(mob) {
			width: 100%;
		}

		ul {
			display: block;
			@include clearfix;
			margin-top: 50px;

			@include respond-to(mob) {
				margin: 10px 0 0 10px;
			}

			li {
				display: inline-block;

				a {
					text-decoration: none;
					color: #333;
					font-family: $font-head;
					float: left;
					padding: 5px 15px;
					border-right: 1px solid #333;
					@include font-size(2);

					@include respond-to(mob) {
						padding: 3px 15px 0 0;
						position: relative;
						margin: 0;
						display: block;
						border-right: none;
						float: none;
						text-align: center;
						@include font-size(1);
						font-family: $font-sans;
						text-transform: uppercase;
						font-weight: 700;

						&:hover {
							text-decoration: underline;
						}
					}

					.the {
						@include respond-to(mob) {
							display: none;
						}
					} // the
				} // a

				&:hover {
					text-decoration: underline;
				}

				.last_child {
					border-right: none;
				} // last child
			} // li
		} // ul
	} // nav right
} // navigation