@font-face {
    font-family: 'bebasregular';
    src: url('fonts/bebas___-webfont.eot');
    src: url('fonts/bebas___-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bebas___-webfont.woff') format('woff'),
         url('fonts/bebas___-webfont.ttf') format('truetype'),
         url('fonts/bebas___-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebas_neueregular';
    src: url('fonts/bebasneue.eot');
    src: url('fonts/bebasneue.eot?#iefix') format('embedded-opentype'),
         url('fonts/bebasneue.woff') format('woff'),
         url('fonts/bebasneue.ttf') format('truetype'),
         url('fonts/bebasneue.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

$font-head: bebas_neueregular, sans-serif;
$font-head-2: bebasregular, sans-serif;
$font-sans: 'Droid Sans', sans-serif;
$font-serif: 'Droid Serif', serif;